.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 120px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: black;
	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar:before {
	content: "";
	position: absolute;
	top: 7px;
	float: left;
	width: 8px;
	height: 8px;
	background: black;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	margin: 3px;
}
.calendar:after {
	content: "";
	position: absolute;
	top: 7px;
	float: right;
	width: 8px;
	height: 8px;
	background: black;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	margin: 3px;
}
.calendar:before {
	left: 11px;
}
.calendar:after {
	right: 11px;
}
.calendar em:before {
	left: 1px;
	content: "";
	position: relative;
	top: -90px;
	float: left;
	margin: 15px;
	width: 4px;
	height: 22px;
	background: #a9a9a9;
	z-index: 2;
	border-radius: 2px;
}
.calendar em:after {
	right: 1px;
	content: "";
	position: relative;
	top: -90px;
	float: right;
	margin: 15px;
	width: 4px;
	height: 22px;
	background: #a9a9a9;
	z-index: 2;
	border-radius: 2px;
}
